{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row" id="aboutus1">
<div class="col-md-12">
<h1><b><span style="color:black;font-family:serif; font-style: italic";> <b> CONTACT US</span></h1>
</div>
</div>


  <div class="row" id="contactus1">
    <div class="column">
      <img src="{% static 'clear1.png'  %}"  style="width:100%"  "height:700px";/> 
    </div>
   <div class="column" >
<form action="/insert" method="post">
{% csrf_token %}
      
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname"  placeholder="Your last name..">
		<label for="lname">Phone No.</label>
        <input type="text" id="lphone" name="phone"  placeholder="Your Phone No.." maxlength="10">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Your E-mail..">
        
        <label for="subject">Message</label>
        <textarea id="subject" name="message" placeholder="Write something.." style="height:140px"></textarea>
     
		<button class="btn btn-warning">Submit</button>
      </form>
    </div>
  </div>



<div id="map-container-google-3" class="z-depth-1-half map-container-3">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1723.8531317452594!2d74.95446180968709!3d30.21693000296942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391732ba9cabc72b%3A0xc1d6011d576bd07f!2sStreet%20Number%2013%2C%20Guru%20Teg%20Bahadar%20Nagar%2C%20Shaibzada%20Jujhar%20Singh%20Nagar%2C%20Bathinda%2C%20Punjab%20151001!5e0!3m2!1sen!2sin!4v1588687326174!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>







{% endblock %}